node-red/01 start-flow.json
[{"id":"7f5460695ee75513","type":"tab","label":"Home Battery Start v4.4.2","disabled":false,"info":"# Home battery control\r\nConsists of three flows:\r\n 1.  Start flow\r\n 1.  Control flow\r\n 1.  Master switch flow\r\n\r\n## Start flow\r\nThis is the starting point of your home battery control.\r\n\r\nIt starts with P1 measurement as a trigger.\r\nIt allows you to connect your battery sensors to the flow.\r\nIt ends with a function node, mapping your batteries to a battery_array\r\n\r\nThe battery_array is passed on to the control flow.\r\n\r\nWhen the control flow has calculated the desired corrections,\r\nit is passed back to this flow and applied to your batteries.","env":[]},{"id":"e236d97d2cb590c2","type":"group","z":"7f5460695ee75513","name":"Start","style":{"label":true,"stroke":"#009ac7"},"nodes":["02105df21fd3f154","521830dd997fb760","2d1c249bb1372a6f"],"x":34,"y":19,"w":652,"h":82},{"id":"617afc9cbb21c3aa","type":"group","z":"7f5460695ee75513","name":"Strategy selection","style":{"label":true},"nodes":["fd6f71b6d259a253","870c65331d4de04a","0a2f9e785f1ac084","b9a2d758a783451c","75e246686f8995fa","ad80e4c14044b9c3","e582ef72f9409841","389c20eb60815daa"],"x":34,"y":839,"w":812,"h":162},{"id":"bea22cae65f8e9d5","type":"group","z":"7f5460695ee75513","name":"Get batteries information","style":{"label":true},"nodes":["3b96a3df1fe485d0","3adf017d0a8c68f1","4475679b8f0c9a3f","2a93575110ffee22","c256db967cf5dccc","a6a78389c0ab1103","8444b99d3d720a22","631e6ef53280c103"],"x":34,"y":379,"w":1678,"h":242},{"id":"ce0f62beb80fb964","type":"group","z":"7f5460695ee75513","name":"On deploy and global logger","style":{"label":true,"stroke":"#92d04f"},"nodes":["e693695841a12ac8","eeebb84fc6def5c6","865a81da38673369"],"x":1294,"y":19,"w":592,"h":82},{"id":"21298cd658864626","type":"group","z":"7f5460695ee75513","name":"Set Batteries","style":{"label":true},"nodes":["bb6f3cf4edb4f977","352483664e820fd7","e5555fd58dfee589","d7fbf710d03761d6","d0ce241d9ea6f086","3f0b8cc39f691728","af4ca03218ec55a8"],"x":34,"y":1019,"w":858,"h":342},{"id":"9ac08b1aad767c5c","type":"group","z":"7f5460695ee75513","name":"Battery priority","style":{"label":true},"nodes":["d052cbb2f10625cd","b97a2b2a5acdfc07","c85ac0d07531991d","d089c6f978c961dc","704760e15e517c51","4999c7c0edd04f97","a80ff70aaad78903","534e46973fed8a7d","3406580ca55f7cad"],"x":34,"y":739,"w":1852,"h":82},{"id":"f2ed876cb907fed0","type":"group","z":"7f5460695ee75513","name":"Calculate totals","style":{"label":true},"nodes":["5c1e81677075b9b2"],"x":34,"y":639,"w":212,"h":82},{"id":"73a209cdfb340e2c","type":"group","z":"7f5460695ee75513","name":"Rate limiter","style":{"label":true},"nodes":["34613848a6705d55","e2734a25bdd9bb39","198b7abaf4ea58d5","f8f7bdd49c35a132","b4673e76e39534f9","2b08b7c04ae567cc","da4ad49d21e836d6","9ef721615468fb63","ca04c6dab2cdd767","0f02732cd4c432b1"],"x":34,"y":219,"w":1402,"h":122},{"id":"e00f6aabc81f50d8","type":"group","z":"7f5460695ee75513","name":"Update UI: debug dashboard","style":{"label":true,"stroke":"#3f5787"},"nodes":["e1e1a146910ee317","bf4561c98529266b","a5ce8fa89d580ec2","21e1c111622cfdf6","a75be4dcdbf976de","f482d76d148c4843"],"x":1234,"y":1219,"w":632,"h":202},{"id":"9fa096c047eb284a","type":"group","z":"7f5460695ee75513","name":"Update UI: usable energy","style":{"label":true,"stroke":"#3f5787"},"nodes":["dd27de3cbba4d663","5ea1d7f0e5defb34"],"x":1474,"y":639,"w":412,"h":82},{"id":"4ae6ca31e75c67a6","type":"group","z":"7f5460695ee75513","name":"Update UI: active sub-strategy","style":{"label":true,"stroke":"#3f5787"},"nodes":["1de0dd76b0f5d05a","b304e1aea4e4c595","3c1651104fca1edd"],"x":1254,"y":919,"w":632,"h":82},{"id":"cdc369e394194098","type":"group","z":"7f5460695ee75513","name":"Insight","style":{"label":true},"nodes":["de7fd17c236aa837","d14ce10d1801776b","5ad26a3d44faed29","b01c579b8c3811a2","62252f491c4da1ea"],"x":34,"y":119,"w":852,"h":82},{"id":"ec3ddc2036ced526","type":"group","z":"7f5460695ee75513","name":"Log and Error handling","style":{"stroke":"#ff3f3f","label":true},"nodes":["ebf13a696e1103d4","15a8447d656db5a6"],"x":1634,"y":119,"w":252,"h":142},{"id":"220907b737bc4473","type":"group","z":"7f5460695ee75513","name":"Unhandled exceptions","style":{"label":true,"stroke":"#d88a8a","color":"#d88a8a"},"nodes":["c6435283baa61870","046207800a78a6b8","220f903862df4c11"],"x":1704,"y":279,"w":182,"h":82},{"id":"c256db967cf5dccc","type":"group","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Loop","style":{"label":true},"nodes":["c1dc366a95ab39fb","d817dffdc25bf134","314138d90b7039a4","53b79e31f72d3d06","8fa7e0ebb2c9fc2a","c31eede04af7c0de","14e87e8913158506","2586ea7beeb67ff1","a110998f48a4695a","2e2223c87c18f763"],"x":74,"y":459,"w":1612,"h":82},{"id":"d7fbf710d03761d6","type":"group","z":"7f5460695ee75513","g":"21298cd658864626","name":"Loop","style":{"label":true},"nodes":["d98f534e50c7d44e","2041773d947f3c33","0b66e5e9b4c1a35e","59277e9cb2fbf7a1","19e190d2c14c6e16","51cf0ebb503e1325","7541d9a9301c62cf"],"x":314,"y":1059,"w":552,"h":222},{"id":"9f254ea4ab071dd8","type":"junction","z":"7f5460695ee75513","x":40,"y":360,"wires":[["2a93575110ffee22"]]},{"id":"02105df21fd3f154","type":"server-state-changed","z":"7f5460695ee75513","g":"e236d97d2cb590c2","name":"P1 meter","server":"176d29a.6f648d6","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.p1_meter_power"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"grid_power","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"timestamp","propertyType":"msg","value":"","valueType":"date"}],"x":120,"y":60,"wires":[["521830dd997fb760"]]},{"id":"521830dd997fb760","type":"api-current-state","z":"7f5460695ee75513","g":"e236d97d2cb590c2","name":"Master Control Mode","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.marstek_master_battery_mode","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"master_mode","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":60,"wires":[["2d1c249bb1372a6f"]]},{"id":"2d1c249bb1372a6f","type":"switch","z":"7f5460695ee75513","g":"e236d97d2cb590c2","name":"when in \"Full Control\" mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Full control","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":60,"wires":[["de7fd17c236aa837"]]},{"id":"fd6f71b6d259a253","type":"api-current-state","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Battery Strategy","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.house_battery_strategy","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"house_battery_strategy","propertyType":"flow","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":880,"wires":[["e582ef72f9409841"]]},{"id":"870c65331d4de04a","type":"function","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Strategy selection","func":"// Logger\nconst logger = global.get(\"logger\");\n\n// INFLOW\nlet strategy = flow.get(\"house_battery_strategy\");\n\n// Configure msg.strategy object\nRED.util.setMessageProperty(msg,\"strategy.selected\",strategy,true);\nRED.util.setMessageProperty(msg,\"strategy.trace\",[],true);\n\n// stop on error\nif(msg.batteries === undefined) {\n    logger(this, \"Battery configuration undefined\", \"error\");\n    return null;\n}\nif(strategy === undefined) {\n    logger(this, \"Battery strategy undefined\", \"error\");\n    return null;\n}\n\n// select target flow based on the input_select `house_battery_strategy`\nmsg.target = `${strategy}`;\n\n// full stop trigger overrules ALL selected strategies\nconst stopTrigger = RED.util.getMessageProperty(msg,\"full_stop_trigger\");\nif(stopTrigger == \"on\" || stopTrigger === true || stopTrigger === 1) {\n    msg.target = \u0027Full stop\u0027;\n    // Explain\n    logger(this, `**Full Stop** strategy selected, due to (EV) stop trigger: \u0027${stopTrigger}\u0027`);\n}\n\n// add execution marker\nRED.util.setMessageProperty(msg,\"strategy.execution_start\",Date.now()); // when do we start executing the selected strategy\n\n// OUTPUT\nnode.status({fill:\"grey\",shape:\"dot\",text:msg.target});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":880,"wires":[["b9a2d758a783451c","0a2f9e785f1ac084"]]},{"id":"0a2f9e785f1ac084","type":"link call","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Call \"Link in\" node","links":[],"linkType":"dynamic","timeout":"1.2","x":410,"y":920,"wires":[["75e246686f8995fa","ad80e4c14044b9c3"]]},{"id":"b9a2d758a783451c","type":"debug","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Input msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":880,"wires":[]},{"id":"75e246686f8995fa","type":"debug","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Returned msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":920,"wires":[]},{"id":"ad80e4c14044b9c3","type":"function","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Strategy evaluation","func":"// add execution marker\nlet execution_end = Date.now();\nRED.util.setMessageProperty(msg, \"strategy.execution_end\", execution_end);\n\n// retrieve execution markers\nlet execution_start = RED.util.getMessageProperty(msg,\"strategy.execution_start\");\n\n// report execution time\nif (execution_start !== undefined \u0026\u0026 execution_end !== undefined) {\n    // exec time\n    let execution_time = (execution_end - execution_start) / 1000; // seconds\n    // report\n    if (execution_time \u003c= 0) node.status({ fill: \"red\", shape: \"dot\", text: `negative or zero timing` });\n    if (execution_time \u003e 0) node.status({ fill: \"green\", shape: \"dot\", text: `${execution_time} sec`});\n    if (execution_time \u003e= 0.7) node.status({ fill: \"yellow\", shape: \"dot\", text: `${execution_time} sec` });\n    if (execution_time \u003e= 1) node.status({ fill: \"red\", shape: \"dot\", text: `${execution_time} sec` });\n\n} else {\n    node.status({fill:\"grey\",shape:\"dot\",text:\"timing error\"});\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":960,"wires":[["e5555fd58dfee589","389c20eb60815daa","1de0dd76b0f5d05a"]]},{"id":"3b96a3df1fe485d0","type":"function","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Loop start","func":"// loop through the number of batteries set by the user\nmsg.battery_index = 1; // base-1\n\n// Init an array for battery status and value information\nmsg.batteries = [];\n\n// Continue\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["c1dc366a95ab39fb"]]},{"id":"a6a78389c0ab1103","type":"function","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Mapping","func":"// Map to batteries array\nmsg.batteries.push({\n    id: `M${msg.battery_index}`,\n    power: parseInt(msg.battery_power,10),\n    charging_max: parseInt(msg.max_charge_power,10),\n    discharging_max: parseInt(msg.max_discharge_power,10),\n    soc: parseInt(msg.battery_state_of_charge,10),\n    soc_max: parseInt(msg.charging_cutoff_capacity,10),\n    soc_min: parseInt(msg.discharging_cutoff_capacity,10),\n    inverter: String(msg.inverter_state),\n    energy: Number(msg.battery_remaining_capacity),\n    energy_max: Number(msg.battery_total_energy),\n    rs485: String(msg.rs485_control_mode)\n    });\n\n// Continue\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":580,"wires":[["8444b99d3d720a22"]]},{"id":"3adf017d0a8c68f1","type":"switch","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Loop until","property":"battery_index","propertyType":"msg","rules":[{"t":"lte","v":"battery_count","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":580,"wires":[["c1dc366a95ab39fb"],["631e6ef53280c103"]]},{"id":"4475679b8f0c9a3f","type":"debug","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Loop result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":580,"wires":[]},{"id":"2a93575110ffee22","type":"api-current-state","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Your battery count","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.house_battery_count","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"battery_count","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":420,"wires":[["3b96a3df1fe485d0"]]},{"id":"c1dc366a95ab39fb","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"Control mode","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.marstek_m{{battery_index}}_rs485_control_mode","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"rs485_control_mode","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":500,"wires":[["14e87e8913158506"]]},{"id":"d817dffdc25bf134","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"SoC","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m{{battery_index}}_battery_state_of_charge","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"battery_state_of_charge","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":500,"wires":[["a110998f48a4695a"]]},{"id":"314138d90b7039a4","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"Inverter state","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m{{battery_index}}_inverter_state","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"inverter_state","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1290,"y":500,"wires":[["8fa7e0ebb2c9fc2a"]]},{"id":"53b79e31f72d3d06","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"Max discharge power","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.marstek_m{{battery_index}}_max_discharge_power","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"max_discharge_power","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":500,"wires":[["d817dffdc25bf134"]]},{"id":"8fa7e0ebb2c9fc2a","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"Energy","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m{{battery_index}}_battery_remaining_capacity","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"battery_remaining_capacity","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1440,"y":500,"wires":[["2586ea7beeb67ff1"]]},{"id":"c31eede04af7c0de","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"Max charge power","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.marstek_m{{battery_index}}_max_charge_power","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"max_charge_power","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":500,"wires":[["53b79e31f72d3d06"]]},{"id":"14e87e8913158506","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"Power","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m{{battery_index}}_battery_power","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"battery_power","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":500,"wires":[["c31eede04af7c0de"]]},{"id":"e693695841a12ac8","type":"api-call-service","z":"7f5460695ee75513","g":"ce0f62beb80fb964","name":"Node-RED status: OK","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"input_boolean.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.house_battery_control_has_node_red"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_boolean","service":"turn_on","x":1760,"y":60,"wires":[[]]},{"id":"eeebb84fc6def5c6","type":"inject","z":"7f5460695ee75513","g":"ce0f62beb80fb964","name":"On deploy","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1410,"y":60,"wires":[["865a81da38673369","ebf13a696e1103d4"]]},{"id":"d98f534e50c7d44e","type":"api-call-service","z":"7f5460695ee75513","g":"d7fbf710d03761d6","name":"Set mode (charge/discharge/stop)","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_text","service":"set_value","x":660,"y":1100,"wires":[[]]},{"id":"2041773d947f3c33","type":"function","z":"7f5460695ee75513","g":"d7fbf710d03761d6","name":"Set Batteries","func":"// Logger\nconst log = global.get(\"logger\");\n\n// enums\nconst CMODE = {\n    STOP: \"stop\", // Marstek batteries disconnect a relay when this is set or Power is 0W\n    CHARGE: \"charge\",\n    DISCHARGE: \"discharge\"\n}\n\n// Output format and target\nlet outputArray = [];\nlet solution = msg.solutions[msg.battery_index-1]; // Base-0, thus -1\nif (solution === undefined) {\n    log(this,`Can\u0027t find solution for index ${msg.battery_index - 1} in ${msg.solutions}, aborting...`,\"error\");\n    return null;\n}\nlet target = `marstek_${solution.id.toLowerCase()}`;\n\n// Safety | Id exists\nlet battery = msg.batteries.find(battery =\u003e battery.id === solution.id);\nif (battery === undefined) {\n    log(`Can\u0027t set battery ${solution.id}, aborting...`,\"error\");\n    return null;\n}\n// Safety | Power limit\nsolution.power = Math.min(solution.power, solution.mode == CMODE.CHARGE ? battery.charging_max: battery.discharging_max);\n\n// Set | Mode\nconst serviceCallMode = {\n    \"action\": \"select.select_option\",\n    \"target\": {\n        \"entity_id\": [`select.${target}_forcible_charge_discharge`]\n    },\n    \"data\": {\n         \"option\": String(solution.mode) // forced charge mode (stop, charge, discharge)\n    }\n};\n// Add topic to allow correct \u0027on change\u0027 filtering\noutputArray.push({payload: serviceCallMode, topic:solution.id});\n\n// Set | Power\nconst serviceCallPower = {\n    \"action\": \"number.set_value\",\n    \"target\": {\n        \"entity_id\": [\n            `number.${target}_forcible_charge_power`,\n            `number.${target}_forcible_discharge_power`\n            ]\n    },\n    \"data\": {\n        \"value\": Number(solution.power)\n    } \n};\n// Add topic to allow correct \u0027on change\u0027 filtering\noutputArray.push({payload: serviceCallPower, topic:solution.id});\n\n// Store service calls in msg to allow checking of loop results\nmsg.loop_result = { target, serviceCallMode, serviceCallPower };\n\n// Return msg as third output\noutputArray.push(msg);\n\n// Explain\nlog(this,`${target} ${String(solution.mode)} @ ${Number(solution.power)} Watt`);\n\n// Output\nreturn outputArray;","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1140,"wires":[["d98f534e50c7d44e"],["7541d9a9301c62cf"],["59277e9cb2fbf7a1"]],"inputLabels":["Msg with a battery_index"],"outputLabels":["Select MODE","Set POWER","Msg"]},{"id":"bb6f3cf4edb4f977","type":"function","z":"7f5460695ee75513","g":"21298cd658864626","name":"Loop start","func":"// loop through the number of batteries set by the user\nmsg.battery_index = msg.battery_count;\n\n// Debug\nRED.util.setMessageProperty(msg, \"debug\", `## Cohort ${Date.now()} ##`);\n\n// Continue\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1140,"wires":[["2041773d947f3c33"]]},{"id":"0b66e5e9b4c1a35e","type":"switch","z":"7f5460695ee75513","g":"d7fbf710d03761d6","name":"Loop until","property":"battery_index","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":740,"y":1200,"wires":[["2041773d947f3c33"],["d0ce241d9ea6f086"]]},{"id":"59277e9cb2fbf7a1","type":"function","z":"7f5460695ee75513","g":"d7fbf710d03761d6","name":"Loop step","func":"// Step index down\nmsg.battery_index -= 1;\n\n// Continue\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1200,"wires":[["0b66e5e9b4c1a35e","51cf0ebb503e1325"]]},{"id":"19e190d2c14c6e16","type":"api-call-service","z":"7f5460695ee75513","g":"d7fbf710d03761d6","name":"Set power (W)","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_text","service":"set_value","x":760,"y":1140,"wires":[[]]},{"id":"352483664e820fd7","type":"function","z":"7f5460695ee75513","g":"21298cd658864626","name":"Timing start","func":"RED.util.setMessageProperty(msg,\"setbatteries.execution_start\",Date.now());\nRED.util.setMessageProperty(msg,\"setbatteries.marker\", `M1_${Date.now()}`);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":1100,"wires":[["bb6f3cf4edb4f977"]]},{"id":"e5555fd58dfee589","type":"switch","z":"7f5460695ee75513","g":"21298cd658864626","name":"solutions present","property":"solutions","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"jsonata"},{"t":"neq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":1060,"wires":[["af4ca03218ec55a8"],["352483664e820fd7"]]},{"id":"d0ce241d9ea6f086","type":"function","z":"7f5460695ee75513","g":"21298cd658864626","name":"Timing end","func":"let start = RED.util.getMessageProperty(msg,\"setbatteries.execution_start\");\nlet end = Date.now();\nlet delta = end - start;\nlet timingString = `${delta/1000} sec`;\n\nnode.status({fill:\"green\",shape:\"dot\",text: timingString});\nmsg.delta = delta;\nmsg.timing = timingString;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":1320,"wires":[["3f0b8cc39f691728","bf4561c98529266b"]]},{"id":"51cf0ebb503e1325","type":"debug","z":"7f5460695ee75513","g":"d7fbf710d03761d6","name":"Step result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"loop_result","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1240,"wires":[]},{"id":"7541d9a9301c62cf","type":"rbe","z":"7f5460695ee75513","g":"d7fbf710d03761d6","name":"on change","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":590,"y":1140,"wires":[["19e190d2c14c6e16"]]},{"id":"3f0b8cc39f691728","type":"debug","z":"7f5460695ee75513","g":"21298cd658864626","name":"Done","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"debug","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":1320,"wires":[]},{"id":"8444b99d3d720a22","type":"function","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Loop step","func":"// Step index down\nmsg.battery_index += 1;\n\n// Continue\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":580,"wires":[["3adf017d0a8c68f1"]]},{"id":"d052cbb2f10625cd","type":"function","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Update battery order","func":"// Cycles battery priority as follows\n// M=1 [1,2,3,4] | M=2 [2,3,4,1] | M=3 [3,4,1,2] | etc.\n// With M the battery to prioritize\n\n// msg.batteries (original order)\nlet currentArray = msg.batteries;\n\n// Prioritize the Mth battery\nconst M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// 1st battery has prio? Skip and continue without change\nif (M==1) return msg;\n\n// N equals the number of items to take from the front to the back of the array, effectivly rotating battery priority\nconst N = M - 1; // base-0 version of M\nnode.status({fill:\"blue\",shape:\"ring\",text:`N = ${N}`});\n\n// 1. Check if the array is valid and long enough\nif (!Array.isArray(currentArray) || currentArray.length \u003c N) {\n    // Send an error or the original array back if the array is invalid/too short\n    node.error(`Array is not valid or shorter than ${N} items.`, msg);\n    return null;\n}\n\n// 2. Get the first N items (these will go to the back)\n// slice(0, N) retrieves elements from the start (index 0) up to index N (exclusive).\nlet firstN = currentArray.slice(0, N);\n\n// 3. Get the remaining items (these will stay at the front)\n// slice(N) retrieves elements from index N to the end of the array.\nlet remaining = currentArray.slice(N);\n\n// 4. Concatenate them: remaining items (front) + first N items (back)\nlet newArray = remaining.concat(firstN);\n\n// 5. Place the new array back into msg.batteries\nmsg.batteries = newArray;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":780,"wires":[["fd6f71b6d259a253"]]},{"id":"b97a2b2a5acdfc07","type":"inject","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Every day 02:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":"5","topic":"cycle_battery_priority","payload":"","payloadType":"date","x":610,"y":780,"wires":[["a80ff70aaad78903"]]},{"id":"c85ac0d07531991d","type":"function","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Change priority","func":"// Current prioritized battery is the Mth battery\nlet M = RED.util.getMessageProperty(msg,\"prioritize_battery\") || 1;\n\n// Prioritize the next battery\nM += 1;\n\n// If the next battery does not exist, prioritize the first again\nif(M \u003e msg.battery_count) M = 1;\n\n// Pass along as payload\nmsg.payload = M;\n\n// Show which battery has priority\nnode.status({fill:\"green\",shape:\"dot\",text:`Prioritize battery #${M}`});\n\n// Done\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":780,"wires":[["4999c7c0edd04f97"]]},{"id":"d089c6f978c961dc","type":"api-current-state","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Your battery count","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.house_battery_count","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"battery_count","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":780,"wires":[["c85ac0d07531991d"]]},{"id":"704760e15e517c51","type":"api-current-state","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Prioritize battery M","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.house_battery_control_prioritize_battery","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"prioritize_battery","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":780,"wires":[["d052cbb2f10625cd"]]},{"id":"4999c7c0edd04f97","type":"api-call-service","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Update prioritized battery","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.house_battery_control_prioritize_battery"],"labelId":[],"data":"{\"value\": \"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":1750,"y":780,"wires":[[]]},{"id":"a80ff70aaad78903","type":"api-current-state","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Desired interval","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.house_battery_control_priority_change_interval","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":780,"wires":[["534e46973fed8a7d"]]},{"id":"534e46973fed8a7d","type":"function","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Check interval ","func":"// Manual priority, never pass\nif(msg.payload == \"Never\") {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Auto cycle disabled\"});\n    return null;\n}\n\n// Daily interval, always pass\nif(msg.payload == \"Daily\") {\n    node.status({ fill: \"green\", shape: \"dot\", text: `Pass` });\n    return msg;\n}\n\n// Weekly interval\nconst today = new Date();\n// Get the day of the week (0 = Sunday, 1 = Monday, ..., 6 = Saturday)\nconst dayOfWeek = today.getDay();\n\n// Check if the day is Sunday (which is represented by the number 0)\nif (dayOfWeek === 0) {\n    // If it is Sunday, pass\n    node.status({ fill: \"green\", shape: \"dot\", text: `Passed on Sunday` });\n    return msg;\n} else {\n    // If it is not Sunday, stop\n    node.status({ fill: \"yellow\", shape: \"dot\", text: `Halted, not Sunday` });\n    return null;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":780,"wires":[["3406580ca55f7cad"]]},{"id":"3406580ca55f7cad","type":"api-current-state","z":"7f5460695ee75513","g":"9ac08b1aad767c5c","name":"Current priority","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.house_battery_control_prioritize_battery","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"number","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"prioritize_battery","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":780,"wires":[["d089c6f978c961dc"]]},{"id":"5c1e81677075b9b2","type":"function","z":"7f5460695ee75513","g":"f2ed876cb907fed0","name":"Batteries (totals)","func":"// batteries | calculate total and max. power delivered by batteries\nlet batteries = msg.batteries;\nlet batteries_total_power = 0;\nlet batteries_max_charging_power = 0;\nlet batteries_max_discharging_power = 0;\nlet batteries_available_energy = 0;\nlet batteries_max_energy = 0;\n\nbatteries.forEach(battery =\u003e {\n    batteries_total_power += Number(battery.power);\n    batteries_max_charging_power += Number(battery.charging_max);\n    batteries_max_discharging_power += Number(battery.discharging_max);\n    batteries_available_energy += Number(battery.energy - battery.energy_max*battery.soc_min/100);\n    batteries_max_energy += (Number(battery.energy_max*battery.soc_max) - Number(battery.energy_max*battery.soc_min))/100; // kWh\n});\n\n// OUTPUT\nRED.util.setMessageProperty(msg, \"batteries_total_power\", batteries_total_power, true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_charge_power\", batteries_max_charging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_max_discharge_power\", batteries_max_discharging_power,true); // W\nRED.util.setMessageProperty(msg, \"batteries_available_energy\",batteries_available_energy,true); // kWh usable\nRED.util.setMessageProperty(msg, \"batteries_max_energy\", batteries_max_energy, true); // kWh usable\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":680,"wires":[["704760e15e517c51","5ea1d7f0e5defb34"]],"inputLabels":["Mapping (from Home Battery IO)"]},{"id":"2586ea7beeb67ff1","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"Energy max","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m{{battery_index}}_battery_total_energy","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"battery_total_energy","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1590,"y":500,"wires":[["a6a78389c0ab1103"]]},{"id":"631e6ef53280c103","type":"function","z":"7f5460695ee75513","g":"bea22cae65f8e9d5","name":"Loop end","func":"// cleanup \ndelete msg.battery_index;\n\ndelete msg.battery_power;\ndelete msg.max_charge_power;\ndelete msg.max_discharge_power;\ndelete msg.battery_state_of_charge;\ndelete msg.charging_cutoff_capacity;\ndelete msg.discharging_cutoff_capacity;\ndelete msg.inverter_state;\ndelete msg.battery_remaining_capacity;\ndelete msg.battery_total_energy;\ndelete msg.rs485_control_mode;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":580,"wires":[["4475679b8f0c9a3f","5c1e81677075b9b2"]]},{"id":"dd27de3cbba4d663","type":"api-call-service","z":"7f5460695ee75513","g":"9fa096c047eb284a","name":"Set total usable energy","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.house_battery_total_available_energy"],"labelId":[],"data":"{\"value\":$$.batteries_available_energy}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":1760,"y":680,"wires":[[]]},{"id":"e582ef72f9409841","type":"api-current-state","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Full Stop Trigger","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.ev_is_charging","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"full_stop_trigger","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":940,"wires":[["870c65331d4de04a"]]},{"id":"5ea1d7f0e5defb34","type":"rbe","z":"7f5460695ee75513","g":"9fa096c047eb284a","name":"On change","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"batteries_available_energy","topi":"topic","x":1570,"y":680,"wires":[["dd27de3cbba4d663"]]},{"id":"34613848a6705d55","type":"switch","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"Select rate limit","property":"p1_rate_limit.save_power","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":280,"wires":[["f8f7bdd49c35a132"],["198b7abaf4ea58d5"]]},{"id":"e2734a25bdd9bb39","type":"delay","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"Rate limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":true,"outputs":2,"x":980,"y":280,"wires":[["da4ad49d21e836d6"],["9ef721615468fb63"]],"outputLabels":["Pass",""]},{"id":"198b7abaf4ea58d5","type":"change","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"1 msg/s","rules":[{"t":"set","p":"rate","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":300,"wires":[["e2734a25bdd9bb39"]]},{"id":"f8f7bdd49c35a132","type":"change","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"0.333 msg/s","rules":[{"t":"set","p":"rate","pt":"msg","to":"3000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":260,"wires":[["e2734a25bdd9bb39"]]},{"id":"b4673e76e39534f9","type":"function","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"P1 change (20W or 2%)","func":"// Switch between low and high rate limiting to decrease load and power consumption\n// --\n// The flow should always be rate limited by atleast the total execution time of strategies\n// The flow should not lock up indefinitly when grid_power is constant.\n// In the latter case, a more relaxed rate limit can help reduce system load.\n// Devs: don\u0027t set msg.rate directly. Use nodes, so novice users can easily read the flow.\n\n// Thresholds for change in power, before switching to high rate limit\nconst THRESHOLD_POWER = 20; // Watt change\nconst THRESHOLD_PERCENT = 2; // Percentage\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_power\", THRESHOLD_POWER,true);\nRED.util.setMessageProperty(msg, \"p1_rate_limit.threshold_percent\", THRESHOLD_PERCENT, true);\n\n// Get the previous value from this node\u0027s context\n// If it doesn\u0027t exist yet, initialize it as null\nlet previousValue = context.get(\u0027previousValue\u0027) || null;\nlet currentValue = Number(msg.grid_power);\n\n// Save the current value for the next time the node is triggered\ncontext.set(\u0027previousValue\u0027, currentValue);\n\n// Default rate limiting\nRED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",true);\n\n// Check if we have a valid history to compare with\nif (previousValue !== null) {\n    let powerChange = Math.abs(currentValue - previousValue);\n    let percentageChange = previousValue !== 0 ? Math.abs((powerChange / previousValue) * 100):0;\n\n    // Condition: Absolute difference \u003e N Watt AND percentage change \u003e M %\n    if (powerChange \u003e THRESHOLD_POWER \u0026\u0026 percentageChange \u003e THRESHOLD_PERCENT) {\n        // Enable faster refresh rate\n        RED.util.setMessageProperty(msg,\"p1_rate_limit.save_power\",false);\n    }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":280,"wires":[["34613848a6705d55"]]},{"id":"2b08b7c04ae567cc","type":"function","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"CPU power saved","func":"// Logger\nconst logger = global.get(\"logger\");\n\n// Passed or blocked\nconst hasPassed = msg.payload; // 0 = blocked, 1 = passed\n\n// 1. Get evaluations (Total attempts)\nlet evaluations = (context.get(\"p1_rate_limit_evaluations\") || 0) + 1;\ncontext.set(\"p1_rate_limit_evaluations\", evaluations);\n\n// 2. Increment and get passes (Filtered/successful events)\nlet passes = (context.get(\"p1_rate_limit_passes\") || 0) + hasPassed;\ncontext.set(\"p1_rate_limit_passes\", passes);\n\n// 3a. Calculate percentage (Rate of passing vs total evaluations)\nlet percentage = evaluations \u003e 0 ? (passes / evaluations) * 100 : 0;\n// 3b. Display the percentage rate of not-passing as a measure of efficiency gained\npercentage = 100 - percentage;\n\n// 4. Update Node Status\nnode.status({\n    fill: \"blue\",\n    shape: \"dot\",\n    text: `Saved: ${percentage.toFixed(2)}% (${evaluations-passes}/${evaluations})`\n});\n\n// 5. Explain\n// On block\nif(hasPassed === 0) {\n    if(msg.p1_rate_limit.save_power === true) {\n        // This is good\n        logger(this, `\u003cfont color=\"#009ac7\"\u003ePower saved\u003c/font\u003e by P1 Rate Limiter, execution stopped.`); \n    } else {\n        // This is not so good. P1 updates are coming in fast.\n        logger(this, `\u003cfont color=\"orange\"\u003eBlocked\u003c/font\u003e by P1 Rate Limiter. ${Number(1000/msg.rate).toFixed(2)} messages per second exceeded.`); \n    }\n    \n    // Send message onward to debug dashboard\n    return msg;\n}\n// No output on pass\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":280,"wires":[["ca04c6dab2cdd767"]]},{"id":"389c20eb60815daa","type":"debug","z":"7f5460695ee75513","g":"617afc9cbb21c3aa","name":"Strategy evaluation","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"strategy","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":960,"wires":[]},{"id":"b304e1aea4e4c595","type":"api-call-service","z":"7f5460695ee75513","g":"4ae6ca31e75c67a6","name":"Show on dashboard","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.house_battery_strategy_active_sub_strategy"],"labelId":[],"data":"{\"value\": $$.ui_value_new}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1760,"y":960,"wires":[[]]},{"id":"1de0dd76b0f5d05a","type":"api-current-state","z":"7f5460695ee75513","g":"4ae6ca31e75c67a6","name":"current UI value","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_text.house_battery_strategy_active_sub_strategy","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"ui_value_current","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":960,"wires":[["3c1651104fca1edd"]]},{"id":"3c1651104fca1edd","type":"function","z":"7f5460695ee75513","g":"4ae6ca31e75c67a6","name":"on new UI value","func":"// Block when undefined (don\u0027t update UI)\nif(msg.ui_value_current === undefined) return null;\n\n// We show the 2nd strategy in the trace (if available) on the dashboard as the \u0027active sub-strategy\u0027\nconst secondTraceEntry = msg.strategy?.trace?.[1];\nif (secondTraceEntry) {\n    // Handle case where 2nd flow is present\n    msg.ui_value_new =  secondTraceEntry.flow;\n} else {\n    // Handle case where the 2nd flow is missing\n    // Get a sensible alternative\n    msg.ui_value_new = msg.strategy?.selected || \"\"; // don\u0027t use unknown or unavailable as these are reserved HA keywords\n}\n\n// Improve human readability\nif(msg.ui_value_new == \"Self-consumption\" \u0026\u0026 secondTraceEntry?.flow_settings?.discharge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (charge only)\";\n}\nif(msg.ui_value_new == \"Self-consumption\" \u0026\u0026 secondTraceEntry?.flow_settings?.charge_disabled === true){\n    msg.ui_value_new = \"Self-consumption (no charging)\";\n}\n\n// Node status for devs\nnode.status({fill:\"grey\",shape:\"dot\",text:`new: ${msg.ui_value_new}`});\n\n// Block when equal (don\u0027t update UI)\nif(msg.ui_value_current === msg.ui_value_new) return null;\n\n// Pass otherwise\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":960,"wires":[["b304e1aea4e4c595"]]},{"id":"e1e1a146910ee317","type":"ha-fire-event","z":"7f5460695ee75513","g":"e00f6aabc81f50d8","name":"Show on debug board","server":"176d29a.6f648d6","version":0,"event":"update_trace_sensor","data":"{\t   \"trace\": $$.strategy.trace ? $$.strategy.trace : [],\t   \"start\": $$.strategy.execution_start ? $$.strategy.execution_start : 0,\t   \"end\": $$.strategy.execution_end ? $$.strategy.execution_end : 0,\t   \"log\": $$.log ? $$.log : []\t}","dataType":"jsonata","x":1740,"y":1320,"wires":[[]]},{"id":"de7fd17c236aa837","type":"api-current-state","z":"7f5460695ee75513","g":"cdc369e394194098","name":"Insight mode","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_battery_control_is_debug_mode","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"debug_mode","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":130,"y":160,"wires":[["d14ce10d1801776b"]]},{"id":"bf4561c98529266b","type":"switch","z":"7f5460695ee75513","g":"e00f6aabc81f50d8","name":"Debug mode?","property":"debug_mode","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1540,"y":1320,"wires":[["e1e1a146910ee317"]]},{"id":"5ad26a3d44faed29","type":"server-state-changed","z":"7f5460695ee75513","g":"cdc369e394194098","name":"Turned ON","server":"176d29a.6f648d6","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.house_battery_control_is_debug_mode"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":380,"y":160,"wires":[["b01c579b8c3811a2"],[]]},{"id":"b01c579b8c3811a2","type":"trigger","z":"7f5460695ee75513","g":"cdc369e394194098","name":"disable after 5 minutes","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":160,"wires":[["62252f491c4da1ea"]]},{"id":"62252f491c4da1ea","type":"api-call-service","z":"7f5460695ee75513","g":"cdc369e394194098","name":"Turn insight OFF","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.house_battery_control_is_debug_mode"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":770,"y":160,"wires":[[]]},{"id":"865a81da38673369","type":"delay","z":"7f5460695ee75513","g":"ce0f62beb80fb964","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1580,"y":60,"wires":[["e693695841a12ac8"]]},{"id":"ebf13a696e1103d4","type":"function","z":"7f5460695ee75513","g":"ec3ddc2036ced526","name":"Custom logger","func":"/**\n * Custom Logger Function\n * * Provides centralized logging, node-status updates, and message tracing.\n * Specifically designed for Home Battery Control logic within Node-RED.\n * \n * Debug dashboard updating:\n * A msg needs to reach \u0027Strategy Evaluation\u0027 or be passed to the \"Show on debug board\" trigger node.\n * Errors are automatically passed to the \"Show on debug board\" trigger node.\n * \n * * @param {object} callingNode - The context of the calling node (pass \u0027this\u0027).\n * @param {string} text - The log message/explanation.\n * @param {string} level - Log level: \u0027log\u0027, \u0027warn\u0027, \u0027error\u0027, or \u0027info\u0027 (default: \u0027info\u0027).\n * \n * Note: anything above \u0027info\u0027 will also write to the Node-RED log files \n * \n * * @usage: \n * const log = global.get(\"logger\");\n * log(this, \"Charging cycle started\");\n */\nconst customLogger = (callingNode, text, level = \u0027info\u0027) =\u003e {\n    \n    // Log only when debug_mode is ON\n    const debug_mode = global.get(\"debug_mode\") || false;\n    if(debug_mode == false) return null;\n\n    // Max log elements to keep\n    const MAX_ELEMENTS = 100;\n\n    // Create the YYYY-MM-DD HH:MM:SS.mmm format\n    const now = new Date();\n    const timestamp = now.getHours().toString().padStart(2, \u00270\u0027) + \":\" +\n                now.getMinutes().toString().padStart(2, \u00270\u0027) + \":\" +\n                now.getSeconds().toString().padStart(2, \u00270\u0027) + \".\" +\n                now.getMilliseconds().toString().padStart(3, \u00270\u0027);\n\n    const formattedTimeLevel = `${timestamp} [${level.toLowerCase()}]`;\n    \n    // Get the name of the node or fallback to the ID\n    const nodeName = callingNode.__node__ ? callingNode.__node__.name || callingNode.__node__.id : undefined;\n    // Get the name of the Flow/Tab\n    const flowName = callingNode.env.get(\"NR_FLOW_NAME\") || \"Unknown flow\";\n    // Explain to the Home Battery Control user what is going on\n    const formattedExplenation = `[${flowName} \u003e\u003e ${nodeName}]: ${text}`;\n\n    // Level icons\n    let icon = \"\";\n    switch (level) {\n        case \"info\":\n            icon = \"\";\n            break;\n        case \"log\":\n            icon = \"\";\n            break;\n        case \"warn\":\n            icon = \"\";      \n            break;\n        case \"error\":\n            icon = \"\";\n            break;\n    }\n\n    // Enrich msg with log info\n    const msg = callingNode.msg;\n    (msg.log = msg.log || []).push({ timestamp: timestamp, level:level, flow:flowName, node:nodeName, payload: text, icon: icon});\n\n    if (msg.log.length \u003e MAX_ELEMENTS) {\n        // Slice keeps the last X elements\n        msg.log = msg.log.slice(-MAX_ELEMENTS);\n    }\n\n    // Log to the Node-RED system log\n    switch (level) {\n        case \"log\":\n            node.log(`${formattedExplenation}`);\n            break;\n        case \"warn\":\n            node.warn(`${formattedExplenation}`);       \n            break;\n        case \"error\":\n            node.error(`${formattedExplenation}`, callingNode.msg);\n            break;\n        default:\n            // don\u0027t log to logfiles by default\n    }\n\n};\n\nglobal.set(\u0027logger\u0027, customLogger);\nglobal.set(\u0027unhandledException\u0027, \"\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1740,"y":160,"wires":[["15a8447d656db5a6"]]},{"id":"da4ad49d21e836d6","type":"change","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"Pass","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":300,"wires":[["2b08b7c04ae567cc","9f254ea4ab071dd8"]]},{"id":"9ef721615468fb63","type":"change","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"Block","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":260,"wires":[["2b08b7c04ae567cc"]]},{"id":"a5ce8fa89d580ec2","type":"link in","z":"7f5460695ee75513","g":"e00f6aabc81f50d8","name":"Update debug dashboard","links":["ca04c6dab2cdd767","af4ca03218ec55a8","220f903862df4c11"],"x":1395,"y":1260,"wires":[["bf4561c98529266b","f482d76d148c4843"]]},{"id":"ca04c6dab2cdd767","type":"link out","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"goto Debug Dashboard update","mode":"link","links":["a5ce8fa89d580ec2"],"x":1395,"y":280,"wires":[]},{"id":"21e1c111622cfdf6","type":"catch","z":"7f5460695ee75513","g":"e00f6aabc81f50d8","name":"Custom logger","scope":["ebf13a696e1103d4"],"uncaught":false,"x":1340,"y":1380,"wires":[["bf4561c98529266b","a75be4dcdbf976de"]]},{"id":"a75be4dcdbf976de","type":"debug","z":"7f5460695ee75513","g":"e00f6aabc81f50d8","name":"Via Catch","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1520,"y":1380,"wires":[]},{"id":"f482d76d148c4843","type":"debug","z":"7f5460695ee75513","g":"e00f6aabc81f50d8","name":"Via link","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"","statusType":"counter","x":1520,"y":1260,"wires":[]},{"id":"af4ca03218ec55a8","type":"link out","z":"7f5460695ee75513","g":"21298cd658864626","name":"link out 1","mode":"link","links":["a5ce8fa89d580ec2"],"x":285,"y":1060,"wires":[]},{"id":"0f02732cd4c432b1","type":"switch","z":"7f5460695ee75513","g":"73a209cdfb340e2c","name":"Skip rate limiter during debug","property":"debug_mode","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":280,"wires":[["b4673e76e39534f9"],["9f254ea4ab071dd8"]]},{"id":"d14ce10d1801776b","type":"function","z":"7f5460695ee75513","g":"cdc369e394194098","name":"Notice","func":"// enable or disable Insights Mode\nif(msg.debug_mode == \"on\"){\n    // ENABLED - explain to user\n    const log = global.get(\"logger\");\n    log(this, \"P1 Rate limiter is *disabled* during *debug mode*\");\n\n    // Set global (setting this via current state node has proven irriliable)\n    global.set(\"debug_mode\", true);\n} else {\n    // DISABLED - set global\n    global.set(\"debug_mode\", false);\n}\n\n// Clean up - only use the global\ndelete msg.debug_mode;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":235,"y":160,"wires":[["0f02732cd4c432b1"]],"l":false},{"id":"a110998f48a4695a","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"SoC min","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.marstek_m{{battery_index}}_discharging_cutoff_capacity","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"discharging_cutoff_capacity","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":500,"wires":[["2e2223c87c18f763"]]},{"id":"2e2223c87c18f763","type":"api-current-state","z":"7f5460695ee75513","g":"c256db967cf5dccc","name":"SoC max","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.marstek_m{{battery_index}}_charging_cutoff_capacity","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"charging_cutoff_capacity","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1140,"y":500,"wires":[["314138d90b7039a4"]]},{"id":"15a8447d656db5a6","type":"function","z":"7f5460695ee75513","g":"ec3ddc2036ced526","name":"Unhandled Exception","func":"/**\n * Handles exceptions by extracting node details and routing them to a global logger.\n * This is designed to be called from within a Node-RED Function node or sub-flow.\n *\n * @param {Object} callingNode - The Node-RED \u0027this\u0027 context or msg object containing node metadata.\n * @param {Object} [callingNode.msg] - The message object associated with the error.\n * @param {Object} [callingNode.msg.error] - Error details provided by a Node-RED error catch.\n * @param {string} [callingNode.msg.error.message] - The specific error message.\n * @param {Object} [callingNode.msg.error.source] - The node that triggered the error.\n * * @example\n * // Usage in a Function Node:\n * const unhandledException = global.get(\u0027unhandledException\u0027);\n * unhandledException(this);\n */\nconst unhandledException = (callingNode) =\u003e {\n    // 1. Get the custom logger from global context\n    const log = global.get(\"logger\");\n\n    // 2. Extract error details from the msg object\n    const errorData = callingNode.msg?.error || {};\n    const errorMessage = errorData.message || \"Unknown error occurred\";\n    const sourceName = errorData.source ? (errorData.source.name || errorData.source.id) : \"Unknown Node\";\n    const sourceType = errorData.source ? errorData.source.type : \"unknown-type\";\n\n    // 3. Construct a user-friendly message for the logger\n    const friendlyMessage = `**Unhandled exception** (${sourceType} node) ${errorMessage}`;\n    callingNode.__node__ ??= {};\n    callingNode.__node__.name = sourceName;\n\n    // 4. Call the logger with level \u0027error\u0027\n    // Note: the logger uses \u0027callingNode\u0027, we pass on whatever we have.\n    log(callingNode, friendlyMessage, \u0027error\u0027);\n\n};\n\nglobal.set(\u0027unhandledException\u0027, unhandledException);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":220,"wires":[[]]},{"id":"c6435283baa61870","type":"catch","z":"7f5460695ee75513","g":"220907b737bc4473","name":"","scope":null,"uncaught":true,"x":1745,"y":320,"wires":[["046207800a78a6b8"]],"l":false},{"id":"046207800a78a6b8","type":"function","z":"7f5460695ee75513","g":"220907b737bc4473","name":"Unhandled Exception","func":"const handle = global.get(\u0027unhandledException\u0027);\n\nhandle(this);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1795,"y":320,"wires":[["220f903862df4c11"]],"l":false},{"id":"220f903862df4c11","type":"link out","z":"7f5460695ee75513","g":"220907b737bc4473","name":"link out 9","mode":"link","links":["a5ce8fa89d580ec2"],"x":1845,"y":320,"wires":[]},{"id":"176d29a.6f648d6","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"cd22a297f60341dc","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]
