node-red/02 strategy-charge.json
[{"id":"a630e82fe7e8cfbe","type":"tab","label":"Strategy Charge v4.4.2","disabled":false,"info":"","env":[]},{"id":"7a96f9281d1a24ee","type":"group","z":"a630e82fe7e8cfbe","name":"Configuration","style":{"label":true},"nodes":["398c4b246729e267","99a46bf6290b9da8","37128d5a7f8d3fac"],"x":34,"y":99,"w":192,"h":162},{"id":"918df93dcc419a42","type":"group","z":"a630e82fe7e8cfbe","name":"Battery solutions","style":{"label":true},"nodes":["e6d8dc32c1ba70c9","d8992960a62e8c9c","583d5a6c585b11d4"],"x":34,"y":479,"w":192,"h":142},{"id":"b757ec0851310259","type":"group","z":"a630e82fe7e8cfbe","name":"Export routine","style":{"fill-opacity":"0.5","label":true,"color":"#cccccc"},"nodes":["74bb3648299adbf7","bf3b2b014ac213b7","f519e7ee73b4975d","8d53521b7d9ee060","75904b336b7b22ae","b9d1768e33de5aa6","f39cfdee5a59e5db","5be87eab5b4776ce","b21214cb0c20d290","01c04a890b0bffb6"],"x":254,"y":319,"w":1192,"h":182},{"id":"5959322bdec01c15","type":"group","z":"a630e82fe7e8cfbe","name":"Decide import or stop","style":{"label":true},"nodes":["92d64edd0ae5d65d","4491189ca0a4c215","f8251f768dd3ee4e","259dde4504fdd59a","897136ea53821778","f23df562230cb98a","707a1e8eeaa2513e","bb8389fa30c2b9fd","1340613cd5c71695","b8a49471d00efc2b","4ff1ffaf98a16543","acc64c2269aa4057","58650199ecd58446","418f07d11fdf4cb2","711e4427104baa3d","6001f1063e7f129d","feaf77a2d67a31d0","10a5131843a568b8","1fecf8a6c7a23d70","0454f476e5a759d3"],"x":254,"y":79,"w":1928,"h":207},{"id":"1fecf8a6c7a23d70","type":"group","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"UI helper | set bounds for charge levels","style":{"label":true,"stroke":"#3f93cf"},"nodes":["f3e7ffd19df9c1ee","444691a796ca56fe","27cfd005b02861b3"],"x":1464,"y":159,"w":692,"h":82},{"id":"afebfb6a35f6a0c7","type":"group","z":"a630e82fe7e8cfbe","name":"Unhandled exceptions","style":{"label":true,"stroke":"#d88a8a","color":"#d88a8a"},"nodes":["f23879efb432f0db","a689d6ceced72732","9b81fcbf318a1c09"],"x":34,"y":379,"w":182,"h":82},{"id":"10a5131843a568b8","type":"junction","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","x":1490,"y":260,"wires":[["b21214cb0c20d290"]]},{"id":"b7a801679f527954","type":"comment","z":"a630e82fe7e8cfbe","name":"Home Battery Strategy","info":"The `Home Battery Start` flow will call this strategy flow\nby matching the strategy name with the Link In name.\n\nConfigure the Link In node in the Start group.\n\nDon\u0027t modify other parts of the Start and End groups.\nThey handle the calling and returning for you.","x":140,"y":60,"wires":[]},{"id":"398c4b246729e267","type":"link in","z":"a630e82fe7e8cfbe","g":"7a96f9281d1a24ee","name":"Charge","links":[],"x":110,"y":220,"wires":[["37128d5a7f8d3fac"]],"l":true},{"id":"99a46bf6290b9da8","type":"comment","z":"a630e82fe7e8cfbe","g":"7a96f9281d1a24ee","name":"Start (readme)","info":"# Setting up your battery strategy flow\n\n## Setup\nName the `Link In node` in this start group exactly after the \u003cselect\u003e option configured in your\nselect_input.house_battery_strategy\n\nconfigure select options in:\ninput_select_house_battery_control.yaml\n\n### example\n`house_battery_strategy:\n  name: House Battery Strategy\n  options:\n    - AcmE example`\n\nThe above creates a select option, allowing user to select \u0027AcmE example\u0027\n\nWhen selected, battery control will search for a flow containing a Link In node\ncalled \u0027AcmE example\u0027 (case sensitive).","x":130,"y":140,"wires":[]},{"id":"37128d5a7f8d3fac","type":"change","z":"a630e82fe7e8cfbe","g":"7a96f9281d1a24ee","name":"Trace","rules":[{"t":"set","p":"strategy.trace","pt":"msg","to":"[\t   strategy.trace,\t   {\t       \"flow\": target,\t       \"flow_settings\": advanced_settings,\t       \"timestamp\": $now()\t   } \t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":180,"wires":[["feaf77a2d67a31d0"]],"info":"Attaches a breadcrumb trace to the msg\r\nso the user can reconstruct which route has\r\nbeen traveled"},{"id":"e6d8dc32c1ba70c9","type":"link out","z":"a630e82fe7e8cfbe","g":"918df93dcc419a42","name":"Return","mode":"return","links":[],"x":185,"y":580,"wires":[]},{"id":"d8992960a62e8c9c","type":"comment","z":"a630e82fe7e8cfbe","g":"918df93dcc419a42","name":"End (readme)","info":"Should return a solution_array of battery objects\n\n## battery object format\n`{{id: string|number, mode: string, power: number}} battery solution`\n- id is an arbitrary battery ID\n- mode is \"stop\", \"charge\", \"discharge\" for Marstek\n- power in Watts\n\n### example array\nreturn this type of solution_array via msg.solutions\n` \nlet solution_array = [];\nsolution_array.push({id:\"M1\", mode: \"charge\", power: 100}); // per battery\nreturn {solutions: solution_array};\n` ","x":130,"y":520,"wires":[]},{"id":"583d5a6c585b11d4","type":"link in","z":"a630e82fe7e8cfbe","g":"918df93dcc419a42","name":"link to End","links":["259dde4504fdd59a","58650199ecd58446","5be87eab5b4776ce"],"x":75,"y":580,"wires":[["e6d8dc32c1ba70c9"]]},{"id":"74bb3648299adbf7","type":"function","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Max power solution","func":"// Logger, usage: log(this, \"\");\nconst log = global.get(\u0027logger\u0027);\nlog(this, \"Charge at **max. power**\");\n\n// INPUT\nlet batteries = msg.batteries;\nlet solution_array = [];\n\n// build solution\nmsg.batteries.forEach(battery =\u003e {\n    const calculatedPower = Number(battery.charging_max);\n\n    solution_array.push({\n        id: battery.id,\n        mode: \"charge\",\n        power: calculatedPower\n    });\n\n});\n\n// return solution\nmsg.solutions = solution_array;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":360,"wires":[["f39cfdee5a59e5db"]]},{"id":"bf3b2b014ac213b7","type":"link call","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Call flow","links":[],"linkType":"dynamic","timeout":"30","x":1140,"y":400,"wires":[["8d53521b7d9ee060","5be87eab5b4776ce"]]},{"id":"f519e7ee73b4975d","type":"switch","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Import at max power","property":"house_battery_strategy_charge_has_max_power","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":760,"y":380,"wires":[["74bb3648299adbf7"],["b9d1768e33de5aa6"]]},{"id":"8d53521b7d9ee060","type":"debug","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Regulated","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1330,"y":400,"wires":[]},{"id":"75904b336b7b22ae","type":"debug","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Maximum","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":1320,"y":360,"wires":[]},{"id":"b9d1768e33de5aa6","type":"function","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Regulated power","func":"// Logger, usage: log(this, \"\");\nconst log = global.get(\u0027logger\u0027);\n\n// Which sub-strategy to use\nmsg.target = \"Self-consumption\";\n\n// Set target grid consumption for the PID controller\nmsg.house_target_grid_consumption_in_w = msg.house_battery_strategy_charge_target_power;\n// tell PID to avoid discharge solutions during charging.\nRED.util.setMessageProperty(msg,\"advanced_settings.discharge_disabled\",true,true);\n\n// Finally\nlog(this, `**Regulated** charging. Limit grid power: ${Math.floor(msg.house_battery_strategy_charge_target_power)} W`);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":400,"wires":[["bf3b2b014ac213b7"]]},{"id":"f39cfdee5a59e5db","type":"change","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Continue","rules":[{"t":"set","p":"target","pt":"msg","to":"Charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":360,"wires":[["75904b336b7b22ae","5be87eab5b4776ce"]]},{"id":"5be87eab5b4776ce","type":"link out","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"go to End","mode":"link","links":["583d5a6c585b11d4"],"x":1320,"y":460,"wires":[],"l":true},{"id":"b21214cb0c20d290","type":"api-current-state","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Use max power?","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_battery_strategy_charge_has_max_power","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"house_battery_strategy_charge_has_max_power","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":380,"wires":[["01c04a890b0bffb6"]]},{"id":"01c04a890b0bffb6","type":"api-current-state","z":"a630e82fe7e8cfbe","g":"b757ec0851310259","name":"Grid power limit","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.house_battery_strategy_charge_target_power","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"house_battery_strategy_charge_target_power","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":380,"wires":[["f519e7ee73b4975d"]]},{"id":"92d64edd0ae5d65d","type":"function","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Unknown -\u003e Full stop","func":"const log = global.get(\"logger\");\n\n// Unkown export goal\nlog(this, `**${msg.charge.goal}**; Charge goal not recognized. Fallback to **Full Stop**`,\"warn\");\n\n// Full stop\nmsg.target = \"Full stop\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":240,"wires":[["4491189ca0a4c215"]]},{"id":"4491189ca0a4c215","type":"link call","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Call flow","links":[],"linkType":"dynamic","timeout":"5","x":990,"y":240,"wires":[["259dde4504fdd59a"]]},{"id":"f8251f768dd3ee4e","type":"api-current-state","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Energy reserve hi","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.house_battery_strategy_charge_target_energy","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"charge.threshold_energy","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":200,"wires":[["f23df562230cb98a"]]},{"id":"259dde4504fdd59a","type":"link out","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"go to End","mode":"link","links":["583d5a6c585b11d4"],"x":1190,"y":240,"wires":[],"l":true},{"id":"897136ea53821778","type":"api-current-state","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"SoC reached","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.house_battery_strategy_charge_target_soc","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"charge.threshold_soc","propertyType":"msg","value":"number","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":160,"wires":[["707a1e8eeaa2513e"]]},{"id":"f23df562230cb98a","type":"function","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Check if hi","func":"// 1. Get the custom logger from global context\nconst log = global.get(\"logger\");\nlog(this,`Charge until: ${msg.charge.goal}`);\n\n// 2. Extract energy level from msg (default to 0 if property is missing)\nconst energy_remaining = Number(RED.util.getMessageProperty(msg, \"batteries_available_energy\")) || 0;\nvar energy_threshold = Number(RED.util.getMessageProperty(msg,\"charge.threshold_energy\"));\nif (energy_threshold === undefined || energy_threshold \u003c= 0){\n    log(this,`Desired energy reserve invalid \u0027${energy_threshold}\u0027 kWh. I\u0027ve set it to ${Number(msg.batteries_max_energy).toFixed(1)} kWh`,\"warn\");\n    energy_threshold = Math.floor(Number(msg.batteries_max_energy)*10)/10;\n}\n\n// 3. Logic: Determine if energy level is at or below zero\nif (energy_remaining \u003e= energy_threshold) {\n    msg.charge.threshold_reached = true;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[STOP] Energy reserve at ${energy_remaining.toFixed(1)} / ${energy_threshold.toFixed(1)} kWh`, \u0027info\u0027);\n} else {\n    msg.charge.threshold_reached = false;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[OK] Energy reserve at ${energy_remaining.toFixed(1)} / ${energy_threshold.toFixed(1)} kWh.`, \u0027info\u0027);\n}\n\n// 4. Update node status for visual feedback in the editor\nnode.status({ \n    fill: msg.charge.threshold_reached ? \"red\" : \"green\", \n    shape: \"dot\", \n    text: `Threshold reached: ${msg.charge.threshold_reached}` \n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":200,"wires":[["418f07d11fdf4cb2","27cfd005b02861b3"]]},{"id":"707a1e8eeaa2513e","type":"function","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Check if SoC","func":"// 1. Get the custom logger from global context\nconst log = global.get(\"logger\");\nlog(this, `Charge until: ${msg.charge.goal}`);\n\n// 2. Extract average SoC and desired SoC level\nlet batteries = msg.batteries;\nlet soc_avg = 0;\nlet count = 0; // could use msg.battery_count\nbatteries.forEach(battery =\u003e {\n    soc_avg += battery.soc;\n    count++;\n});\n// 2.1 Current avg. SoC\nsoc_avg = Math.round(soc_avg / count * 100) / 100;\n// 2.2 Charge until SoC (100% as fallback)\nvar soc_threshold = Number(RED.util.getMessageProperty(msg,\"charge.threshold_soc\"));\nif (soc_threshold === undefined || soc_threshold \u003c 12){\n    log(this, `Desired SoC not set correctly \u0027${soc_threshold}\u0027 %. I\u0027ve set it to 100%.`,\"warn\");\n    soc_threshold = 100;\n}\n\n// 3. Logic: Determine if SoC level is at or above desired level\nif (soc_avg \u003e= soc_threshold) {\n    msg.charge.threshold_reached = true;\n\n    // User friendly feedback via the custom logger\n    log(this, `[STOP] Average SoC at ${soc_avg.toFixed(1)}/${soc_threshold.toFixed(1)} %.`, \u0027info\u0027);\n} else {\n    msg.charge.threshold_reached = false;\n\n    // User friendly feedback via the custom logger\n    log(this, `[OK] Average SoC at ${soc_avg.toFixed(1)}/${soc_threshold.toFixed(1)} %.`, \u0027info\u0027);\n}\n\n// 4. Update node status for visual feedback in the editor\nnode.status({\n    fill: msg.charge.threshold_reached ? \"red\" : \"green\",\n    shape: \"dot\",\n    text: `Threshold reached: ${msg.charge.threshold_reached}`\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":160,"wires":[["418f07d11fdf4cb2"]]},{"id":"bb8389fa30c2b9fd","type":"change","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Batteries are full","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":120,"wires":[["1340613cd5c71695"]]},{"id":"1340613cd5c71695","type":"function","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Check if full","func":"// 1. Get the custom logger from global context\nconst log = global.get(\"logger\");\nlog(this,`Charge until: ${msg.charge.goal}`);\n\n// 2. Extract energy level from msg (and handle missing properties)\nconst energy_remaining = Number(RED.util.getMessageProperty(msg, \"batteries_available_energy\")) || 0;\nconst energy_max = Number(RED.util.getMessageProperty(msg, \"batteries_max_energy\")) || 0;\nif(energy_max == 0) log(this,`Batteries max energy missing! ${msg.batteries_max_energy}`);\n// 2.1 Check if every battery\u0027s SoC is at or over the max\nconst isAtMax = msg.batteries.every(battery =\u003e battery.soc \u003e= battery.soc_max);\n\n// 3. Logic: Determine if energy level is over or near 99.9% of max eneregy\nif (isAtMax) {\n    msg.charge.threshold_reached = true;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[STOP] All batteries are full or at SoC_max_ (${energy_remaining} kWh).`, \u0027info\u0027);\n} else {\n    msg.charge.threshold_reached = false;\n    \n    // User friendly feedback via the custom logger\n    log(this, `[OK] Battery level ${energy_remaining.toFixed(2)} kWh below ${energy_max.toFixed(2)} kWh.`, \u0027info\u0027);\n}\n\n// 4. Update node status for visual feedback in the editor\nnode.status({ \n    fill: msg.charge.threshold_reached ? \"red\" : \"green\", \n    shape: \"dot\", \n    text: `Threshold reached: ${msg.charge.threshold_reached}` \n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":120,"wires":[["418f07d11fdf4cb2"]]},{"id":"b8a49471d00efc2b","type":"switch","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Until reached","property":"charge.threshold_reached","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1340,"y":160,"wires":[["4ff1ffaf98a16543"],["10a5131843a568b8"]]},{"id":"4ff1ffaf98a16543","type":"function","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Yes -\u003e Charge PV","func":"// If any solar surplus remains, soak it up instead of waiting in Full stop.\nmsg.target = \"Charge PV\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":120,"wires":[["acc64c2269aa4057"]]},{"id":"acc64c2269aa4057","type":"link call","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Call flow","links":[],"linkType":"dynamic","timeout":"5","x":1760,"y":120,"wires":[["58650199ecd58446"]]},{"id":"58650199ecd58446","type":"link out","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"go to End","mode":"link","links":["583d5a6c585b11d4"],"x":1900,"y":120,"wires":[],"l":true},{"id":"418f07d11fdf4cb2","type":"function","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Decided","func":"const log = global.get(\"logger\");\n\nif(msg.charge.threshold_reached){\n    log(this,`Stop charging, Charge until ${msg.charge.goal} reached.`);\n} else {\n    log(this,`Continue charging.`);\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":160,"wires":[["b8a49471d00efc2b"]]},{"id":"711e4427104baa3d","type":"switch","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Charge until","property":"charge.goal","propertyType":"msg","rules":[{"t":"eq","v":"batteries are full","vt":"str"},{"t":"eq","v":"state of charge","vt":"str"},{"t":"eq","v":"energy reserve","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":590,"y":180,"wires":[["bb8389fa30c2b9fd"],["897136ea53821778"],["f8251f768dd3ee4e"],["92d64edd0ae5d65d"]]},{"id":"6001f1063e7f129d","type":"api-current-state","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Goal","server":"176d29a.6f648d6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.house_battery_strategy_charge_goal","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"string","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"charge.goal","propertyType":"msg","value":"string","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":180,"wires":[["711e4427104baa3d"]]},{"id":"feaf77a2d67a31d0","type":"function","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"Init","func":"msg.charge = {};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":180,"wires":[["6001f1063e7f129d","0454f476e5a759d3"]]},{"id":"f3e7ffd19df9c1ee","type":"function","z":"a630e82fe7e8cfbe","g":"1fecf8a6c7a23d70","name":"Min/max","func":"\n// Lower bound\nlet output = msg.charge.threshold_energy || 0; // kWh\noutput = Math.max(output, 0);\n\n// Upper bound\noutput = Math.min(output, msg.batteries_max_energy);\n\nnode.status({fill:\"blue\",shape:\"dot\",text:`${output}`});\n\n// Output\nmsg.payload = output;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":200,"wires":[["444691a796ca56fe"]]},{"id":"444691a796ca56fe","type":"api-call-service","z":"a630e82fe7e8cfbe","g":"1fecf8a6c7a23d70","name":"Set desired energy reserve","server":"176d29a.6f648d6","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.house_battery_strategy_charge_target_energy"],"labelId":[],"data":"{\"value\": $$.payload}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":2010,"y":200,"wires":[[]]},{"id":"27cfd005b02861b3","type":"rbe","z":"a630e82fe7e8cfbe","g":"1fecf8a6c7a23d70","name":"Desired energy changed","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":1600,"y":200,"wires":[["f3e7ffd19df9c1ee"]]},{"id":"0454f476e5a759d3","type":"debug","z":"a630e82fe7e8cfbe","g":"5959322bdec01c15","name":"debug 2","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"","statusType":"counter","x":410,"y":120,"wires":[]},{"id":"f23879efb432f0db","type":"catch","z":"a630e82fe7e8cfbe","g":"afebfb6a35f6a0c7","name":"","scope":null,"uncaught":false,"x":75,"y":420,"wires":[["a689d6ceced72732"]],"l":false},{"id":"a689d6ceced72732","type":"function","z":"a630e82fe7e8cfbe","g":"afebfb6a35f6a0c7","name":"Unhandled Exception","func":"const handle = global.get(\u0027unhandledException\u0027);\n\nhandle(this);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":125,"y":420,"wires":[["9b81fcbf318a1c09"]],"l":false},{"id":"9b81fcbf318a1c09","type":"link out","z":"a630e82fe7e8cfbe","g":"afebfb6a35f6a0c7","name":"link out 3","mode":"return","links":[],"x":175,"y":420,"wires":[]},{"id":"176d29a.6f648d6","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"99345ea3284e39c0","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.80.3"}}]
